{% extends 'base.html' %}
{% block contenido %}
<div class="container mt-5">
    <h2>Detalle del Pedido</h2>
    <p><strong>Cliente:</strong> {{ pedido.cliente.user.username }}</p>
    <p><strong>Estado del Pedido:</strong> {{ pedido.estado }}</p>
    
    <h4>Detalles:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in pedido.detalles.all %}
            <tr>
                <td>{{ detalle.producto.nombre }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>${{ detalle.producto.precio }}</td>
                <td>${{ detalle.precio_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Total: ${{ pedido.total }}</h4>
</div>
{% endblock %}
